@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './styles/colors.scss';
:root {
  --fuente: 'Poppins', sans-serif;
  --principal: #138390;
  --gris: #E1E1E1;
  --blanco: #ffffff;
  --negro: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--fuente);
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.2rem;
}
/* Globales*/
.padding-1point5rem {
  padding-bottom: 1.4rem;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4 {;
  line-height: 1.2;
}
h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
ul.jobs{
  padding: 0;
}
li {
 /*  margin-left: -2rem; */
 list-style: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sidebar {
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30rem;
  background-color: var(--gris);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.403));
}
.sidebar .circle {
  background-color: var(--principal);
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  position: absolute;
  top:-30rem;
  left:-11.1rem;
  z-index: -1;
}
.sidebar .avatar {
  background-image: url("./assets/kelly.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 9.5rem;
  left: 3.8rem;
  width: 20rem;
  height: 20rem;
  z-index: 1;
}
.sidebar .name,
.sidebar .profesion {
  color: var(--blanco);
  text-align: center;
}
.sidebar .name {
  font-weight: 700;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0D5D66;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0A4B52;
}
.features {
  margin-top: 20rem;
}
.content {
  margin-left: 30rem;
  width: calc(100vw - 30rem);
  padding-left: 2rem;
}
.experience span,
.certificates span {
text-align: right;
font-weight: 400;
}
.title {
  display: flex;
  justify-content: space-between;
  h4 {
    width: 50%; 
    &:nth-child(2) {
      font-weight: 400;
      color: $primario;
      text-align: right;
      margin-right: 15rem;
    }
  }
}
.jobs p,
.profile p {
  width: 90%;
  margin-right: 35rem;
}
.content div.profile {
  padding-top: 1rem;
}